html {
    font-family: "Darker Grotesque";
    height: 100%;
}

a:link {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #85CDF5;
}

.quemSomos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
}

.headerText {
    font-weight: bold;
    color: #333333;
    font-size: 2rem;
}

.bar {
    width: 6rem;
    height: 0.3rem;
    background-color: #333333;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    margin-top: auto;
}

.gradient {
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
}

.insideBox {
    display: flex;
    gap: 2rem;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato div {
    display: flex;
    align-items: center;
}

.contato p {
    padding: 0.5rem;
    word-break: break-all;
}

.contact {
    width: 5rem;
    padding: 0.3rem;
    font-weight: bold;
    background-color: #DEB959;
    border: none;
    margin-top: 1rem;
}

.contact a {
    color: #333333;
}

.slide {
    width: 100%;
    background-image: url(../assets/wolfHome.svg);
    background-size: cover;
    background-position: center;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideContainer h1 {
    color: white;
    font-size: 96px;
    font-weight: bold;
    margin-top: 10rem;
}

.slideContainer p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 10rem;
}

.barSlide {
    margin: 2rem;
    width: 6rem;
    height: 0.3rem;
    background-color: white;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C5680;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    color: #DEB959;
    margin: 2.5rem;
}

h4 {
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.about p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-bottom: 5rem;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

.valueContainer {
    display: flex;
    justify-content: center;
    margin: 5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.valueContainer div {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.valueContainer div p {
    font-size: 26px;
    color: white;
    text-align: center;
}

.valueContainer div figure {
    background-color: white;
    padding: 2rem;
    border-radius: 10rem;
}

.lobosExemplo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    margin-top: 1rem;
}

.lobinhos {
    display: flex;
    flex-direction: column;
}

.wolfExemple {
    display: flex;
    gap: 3rem;
    margin: 3rem;
    flex-wrap: wrap;
}

.exempleWolf {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 3rem;
    flex-wrap: wrap;
}

.wolfPic {
    box-shadow: -40px -40px 0px 0px #2C5680;
    width: 430px;
    height: 352px;
    border: solid;
}

.picWolf {
    box-shadow: 40px -40px 0px 0px #2C5680;
    width: 430px;
    height: 352px;
    border: solid;
}

.wolfData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dataWolf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.wolfName {
    font-size: 36px;
    font-weight: bold;
}

.wolfAge {
    font-size: 20px;
    color: #777777;
}

.wolfDescription {
    font-size: 24px;
    width: 460px;
    text-align: justify;
}