html {
    font-family: "Darker Grotesque";
    height: 100%;
}

a:link {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #85CDF5;
}

.quemSomos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
}

.headerText {
    font-weight: bold;
    color: #333333;
    font-size: 2rem;
}

.bar {
    width: 6rem;
    height: 0.3rem;
    background-color: #333333;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    margin-top: auto;
}

.gradient {
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
}

.insideBox {
    display: flex;
    gap: 2rem;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato div {
    display: flex;
    align-items: center;
}

.contato p {
    padding: 0.5rem;
    word-break: break-all;
}

.contact {
    width: 5rem;
    padding: 0.3rem;
    font-weight: bold;
    background-color: #DEB959;
    border: none;
    margin-top: 1rem;
}

.contact a {
    color: #333333;
}

/* Formulario */

.form {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 4px solid #333333;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 550px 100px 550px;
    min-width: 780px;
    min-height: 800px;
}

.titulo {
    font-size: 3rem;
    font-weight: bold;
    margin: 3%;
}

.form p {
    font-size: 30px;
}

.campo-nome {
    width: 520px;
    margin-left: 5px;
}


.campo-link {
    width: 700px;
    margin: 10px;
}

.campo-descricao {
    width: 700px;
    margin-bottom: 15px;
    margin: 10px;
}

.btn-salvar {
    margin-bottom: 10px;
}

.button {
    background-color: #2C5680;
    color: #E6E6E6;
    font-size: 30px;
    width: 130px;
    height: 50px;
}

.nome-lobinho,
.anos,
.link-foto,
.descr {
    background: #E6E6E6;
    border: 1px solid #333333;
    height: 30px;
    margin-top: 5px;
}

.nome-lobinho {
    width: 478px;
}

.anos {
    width: 179px;
}

.link-foto {
    width: 700px;
}

.descr {
    width: 700px;
    height: 400px;
}