main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobinhos {
    margin-top: 3rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
}

.wolfName {
    font-size: 60px;
    font-weight: bold;
    padding-right: 20rem;
    padding-top: 1rem;
}

.wolfExemple {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.wolfPic {
    box-shadow: none;
    width: 200px;
    height: 200px;
    border: none;
}

.wolfPic img {
    border-radius: 10rem;
}

.adoptionForm {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    height: 15rem;
}

.adoptionForm div {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;
}

.adoptionForm div label {
    font-size: 30px;
    font-weight: bold;
}

.adopterName {
    width: 50rem;
    height: 2.5rem;
    border: none;
    border-bottom: 2px solid black;
}

.adopterAge {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-bottom: 2px solid black;
}

.adopterEmail {
    width: 56.5rem;
    height: 2.5rem;
    border: none;
    border-bottom: 2px solid black;
}

.adoptBtn {
    border: none;
    text-align: center;
    background-color: #2C5680;
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}
