.lobinhos {
    align-items: center;
    margin-top: 2rem;
}

.wolfName {
    font-size: 60px;
    font-weight: bold;
}

.wolfExemple {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.wolfPic {
    box-shadow: -40px -40px 0px 0px #2C5680;
    width: 301px;
    height: 247px;
    border: solid;
}

.btnAdopt {
    position: relative;
    top: -5.5rem;
    right: 15.9rem;
    margin-right: 3rem;
    border: none;
    text-align: center;
    background-color: #7AAC3A;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btnExclude {
    position: relative;
    top: -5.5rem;
    right: 15.9rem;
    border: none;
    text-align: center;
    background-color: #DE5959;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}